{% extends "layout.html" %}

{% block body %}
    <div class="container">
      <img src="/static/snow.jpg" height="100%" width="100%" alt="">
      <div class="centered">
          <font color="white" size="+4">{{ apology }}</font>
      </div>
    </div>
    <style>
      .container {
        position: relative;
        text-align: center;
        color: white;
      }

      .centered {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>

{% endblock %}
