{% extends "layout.html" %}

{% block body %}
    <!-- Table showing information about the algorithm just run -->
    <table class="table table-dark" align="left" style="position: fixed;">
        {% block table %}{% endblock %}
    </table>

    <!-- Shows first 50,000 elements of list -->
    <div class="ex2">
        {% for n in entireList[:50000] %}
            {{ n }},
        {% endfor %}
        {% if entireList|length > 50000 %}
            + {{ entireList|length - 50000 }} more!
        {% endif %}
    </div>

    <!-- Upper padding so list of values start below the table -->
    <style>
        div.ex2 {
            padding-top: 150px;
        }
    </style>
{% endblock %}
