{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/round_logo2.jpg" height="100%" width="100%"/>
            </div>
            <div class="col">
                <iframe src="https://www.desmos.com/calculator/frn2ricpnb" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0/>
            </div>
        </div>
    </div>


    <!--
    <div class="col">
        <form action="/" enctype="multipart/form-data" method="post">
            <button class="btn btn-primary" type="submit" name="action" value="sort">
                Sort
            </button>
            <button class="btn btn-primary" type="submit" name="action" value="search">
                Search
            </button>
        </form>
    </div>
    -->

{% endblock %}
