{% extends "layout.html" %}

{% block body %}
    <div class="col">
        <!-- Can specify action with jinja which app.route -->
        <form action={% block action %}{% endblock %} enctype="multipart/form-data" method="post">
            <label>
                <input type="radio" name="getNumberMethod" onclick="showRandom();" value="random" checked>
                 Random List
            </label>
            <label>
                <input type="radio" name="getNumberMethod" onclick="showImported();" value="imported" checked>
                 Imported List
            </label>

            <!-- All input fields to randomly generate a list of numbers -->
            <div id="divRandom" class="hide">
                <div class="form-group">
                    <input class="form-control" name="num_numbers" min="1" placeholder="Length of Numbers Array" type="number"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="minimum" placeholder="Minimum" type="number"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="maximum" placeholder="Maximum" type="number"/>
                </div>
            </div>

            <!-- All input fields to get a file -->
            <div id="divFile" class="hide">
                <div class="form-group">
                    <input class="form-control-file" name="dataFile" type="file">
                </div>
            </div>

            <hr />

            {% block settings %}{% endblock %}

        </form>
    </div>
    <!-- When random / imported is clicked, the input fields are replaced by the one requested -->
    <script>
        function showRandom()
        {
            // Removes file input elements & shows random input elements
            document.getElementById('divRandom').style.display = 'block';
            document.getElementById('divFile').style.display = 'none';
        }
        function showImported()
        {
            // Removes random input elements & shows file input elements
            document.getElementById('divFile').style.display = 'block';
            document.getElementById('divRandom').style.display = 'none';
        }
    </script>

{% endblock %}
