{% extends "input layout.html" %}

{% block action %} "/sort" {% endblock %}

{% block settings %}
    <!-- Customise order -->
    <label>
        <input type="radio" name="order" value="ASC" checked>
         Ascending Order
    </label>
    <label>
        <input type="radio" name="order" value="DESC" checked>
         Descending Order
    </label>

    <hr />

    <!-- SUBMIT BUTTONS of different sort algorithms -->
    <label class="checkbox-inline">
        <button class="btn btn-primary" type="submit" name="sort method" value="Bubble">
            Bubble Sort
        </button>
    </label>
    <label class="checkbox-inline">
        <button class="btn btn-primary" type="submit" name="sort method" value="Merge">
            Merge Sort
        </button>
    </label>
{% endblock %}
